/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Newly added css files */
table {
  border: 1px solid #666;
    width: 100%;
}
th {
  background: #f8f8f8;
  font-weight: bold;
    padding: 2px;
}


/*.col1, .col2 {
    display: inline-block;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}*/
.row {
    white-space: nowrap;
    width:100%;
    /*border: solid 1px #000000;*/
}

.left {
    overflow: hidden;
    min-height: 50px;
    /*border: 2px dashed green;*/
}

.right {
    float: right;
    /*width: 250px;*/
    min-width: 50px;
    min-height: 50px;
    /*margin-left: 10px;*/
    /*border: 2px dashed red;*/
}


.leftButton {
    float:left;
    min-width:50px;
}

.rightEditBox {
  overflow:hidden;
}
/*.rightEditBox {
  width:100%;
  overflow:auto;
}*/

.leftEditBox {
  /*float: left;*/
  width:100%;
}

.rightButton {
  overflow:hidden;
  width:10%;
  /*float:right;*/
}

/*.leftEditBox {
    background: #aaa;
    float: left
}*/
