<div class="header">
  <ul class="nav nav-pills pull-right">
    <!-- <li class="active"><a ng-href="#">Home</a></li> -->
    <li class="active"><a ng-href="https://github.com/chandramuralis/StarMobileWebApp.git" target="_blank">View Source Code</a></li>
  </ul>
  <h3 class="text-muted">StarMobile Dynamic Rendering</h3>
</div>

</br>
</br>

<div class='row'>
  <p><a class="btn btn-success" ng-click="getDataFromRest()"><i class='icon-refresh'></i> Reload</a>
  <a class="btn btn-info" ng-click="showData = !showData">
    <span ng-show = "!showData">Show Received Data</span>
    <span ng-show = "showData">Hide Received Data</span>
  </a></p>
  <div class="right">
    <button ng-show="receivedData[1].viewType == 'button' " >{{receivedData[1].value}}</button>
    <input type="text" value={{receivedData[1].value}} ng-show="receivedData[1].viewType == 'editBox' " class="rightEditBox">
  </div>
  <div class="left">
    <input type="text" value={{receivedData[0].value}} ng-show="receivedData[0].viewType == 'editBox' " class="leftEditBox">
    <button ng-show="receivedData[0].viewType == 'button' " class="leftButton">{{receivedData[0].value}}</button>
  </div>
</div>

<div>
<hr>
</br>
<!-- <span> Shows the json value received from REST API <span> -->
<table ng-show="showData">
    <tr>
        <th>Type</th>
        <th>Value</th>
    </tr>
    <tr ng-repeat="record in receivedData">
        <td>{{record.viewType}}</td>
        <td>{{record.value}}</td>
    </tr>
</table>
</div>

<div class="alert alert-danger alert-error" ng-show="onError">
  <p>Error: {{errorMessage}} </p>
</div>
